@{
    ViewBag.Title = "Sobre";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<article>
    <p>
    </p>

    <p>
    </p>

    <p>

    </p>
</article>

<aside>
    <h3></h3>
    <p>
    </p>
    <ul>
        Cosmos.Net 1.0
    </ul>
</aside>