@{
    ViewBag.Title = "Sistemas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row-fluid">
    <div class="span4">
        <section class="feature">
            <img src="~/Images/atendimento.ico" alt="" />
            <a href="/MvcAtendimento"><h5 style="color:black">Atendimento ao Cliente</h5></a>
        </section>
    </div>

    <div class="span4">        
            <section class="feature">
                    <img src="~/Images/concillius.ico" alt="" />
                    <a href="/MvcConciliacao"><h5 style="color:black">Conciliação de Cartão</h5></a>
            </section>        
    </div>
</div>
