
<div class="navbar row-fluid">
    <div class="navbar-inner span12">
        <ul class="nav" role="navigation">
            <li class="dropdown">
                <a id="cadastro" role="button" data-toggle="dropdown" class="dropdown-toggle pointer">Cadastro 
                    <div class="caret"></div>
                </a>
               </ul>
            </li>
            <li class="dropdown">
            </li>
        </ul>
    </div>
</div>
